<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>海角论坛-用户登录</title>
    <link rel="stylesheet" href="css/base.css"/>
    <link rel="stylesheet" href="css/login.css"/>
<!--这里改-->
<script src="./lib/vue-2.4.0.js"></script>
 <script src="./lib/vue-resource-1.3.4.js"></script>

</head>
<body>
<div id="main">
    <div id="header">
    </div>
    <div class="container">
        <div class="bgPic"><img src="img/register/b3_1.jpg" alt=""/></div>
        <div class="register">
			<br />
			<br />
            <div class="title">
                <span>登录</span>
                <a href="register.html">去注册</a>
            </div>
            <form autocomplete="off">
                <div class="default">
                    <p>请输入用户名或手机号码</p>
                    <input id="uname" name="uname" type="text" v-model="loginForm.username" placeholder="用户名/手机" data-form="uname"  />
                    
                </div>
                <div class="default">
                    <p>请输入账号密码</p>
                    <input id="upwd" name="upwd" type="text" v-model="loginForm.password" placeholder="密码"data-form="upwd" />
                    
                </div>
                <div class="submit">
                        <span class="notice">
                            <a href="#">忘记密码</a>
                        </span>
                    <button class="s_hover" data-form="submit">登录</button>
                </div>
            </form>
        </div>
    </div>
    <div id="footer">
    </div>
</div>
<script>
import { mapMutations } from 'vuex';
export default {
  data () {
    return {
      loginForm: {
        username: '',
        password: ''
      }
    };
  },
 
  methods: {
    ...mapMutations(['changeLogin']),
    login () {
      let _this = this;
      if (this.loginForm.username === '' || this.loginForm.password === '') {
        alert('账号或密码不能为空');
      } else {
        this.axios({
          method: 'post',
          url: '/user/login',
          data: _this.loginForm
        }).then(res => {
          console.log(res.data);
          _this.userToken = 'Bearer ' + res.data.data.body.token;
          // 将用户token保存到vuex中
          _this.changeLogin({ Authorization: _this.userToken });
          _this.$router.push('/user/index');
          alert('登陆成功');
        }).catch(error => {
          alert('账号或密码错误');
          console.log(error);
        });
      }
    }
  }
};
</script>
</body>
</html>